body{
    background: url(img/city.jpg) center center fixed;
    background-size: cover;
}

.contactForm{
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 15px;
    font-family: Gill Sans, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);   
}

.container-fluid{
    width: 1000px;
    height: auto;
    margin: 100px auto;
}

.contactForm h1{
    padding: 5px;
}

#message{
    resize: vertical;
}

#submit{
    margin-bottom: 20px;
}
